<div class="jumbotron">
  <h1>Welcome to Secret Hitler!</h1>
  <%if current_user%>
    <p><span class="glyphicon glyphicon-heart"></span> Nice to see you, <%= current_user.username%>.</p>
  <%end%>
  <p>Sign up or log in, then create a game or browse existing games to start playing.</p>
</div>

